.layout {
    display: flex;
  
    .main{
      margin-left: 290px;
      position: relative;
      width: 100%;
    .container {
      flex: 8;
  
    h3{
      padding:20px 30px 0px 30px;
    }
  
    .wrapper{
      margin-left: 20px;
      .char{
        width:98%;
        padding: 20px 0px;
      }
    }
    .charts {
      padding: 5px 20px;
    }
  
      .widgets{
        display: flex;
        padding: 20px;
        gap:20px;
      }
  
      .listContainer {
        padding: 20px;
        margin: 20px;
  
        .listTitle {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 15px;
        }
      }
  
      .list {
        display: flex;
        width: 100%;
        .listContainer {
          flex: 6;
        }
      }
    }
  }
  }