.new {
    display: flex;
  
    .newContainer {
      
        position: relative;
        width: 100%;
      }
     .container{
      width: 600px;
      margin-left: 50px;
      margin-top: 40px;
      }
    }
  