.layout {
  display: flex;

  .main{
    margin-left: 290px;
    position: relative;
    width: 100%;
  .container {
    flex: 8;

  h2{
    padding:30px 40px 10px 40px;
  }

  .wrapper{
    margin-left: 20px;
    .char{
      width:98%;
      padding: 20px 0px;
    }
  }
  .charts {
    padding: 5px 20px;
  }

    .widgets{
      display: flex;
      padding: 20px;
      gap:40px;
    }

    .listContainer {
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
      }
    }

    .list {
      display: flex;
      width: 100%;
      .listContainer {
        flex: 6;
      }
    }
  }
}
}

.signin{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form{
    display: flex;
    flex-direction: column;

    input{
      width: 300px;
    }

    span{
      color: red;
    }

  }

}
