
//chart css
.chart {
    flex: 12;
    margin-left:20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: gray;
  
    .title {
      margin-bottom: 20px;
    }
  
    .chartGrid {
      stroke: rgb(228, 225, 225);
    }
  }
  
//featured css

.featured {
    width:fit-content;
    flex: 1.9;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
  
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: gray;
  
      .title {
        font-size: 16px;
        font-weight: 500;
      }
    }
  
    .bottom {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
  
      .featuredChart {
        width: 100px;
        height: 100px;
      }
  
      .title {
        font-weight: 500;
        color: gray;
      }
  
      .amount {
        font-size: 30px;
      }
  
      .desc {
        font-weight: 300;
        font-size: 12px;
        color: gray;
        text-align: center;
      }
  
      .summary {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .item {
          text-align: center;
  
          .itemTitle {
            font-size: 14px;
            color: gray;
          }
  
          .itemResult {
            display: flex;
            align-items: center;
            margin-top: 10px;
            font-size: 14px;
  
            &.positive {
              color: green;
            }
  
            &.negative {
              color: red;
            }
          }
        }
      }
    }
  }
  //navbar css
  .navbar {
    border-bottom: 0.5px solid #DADADA;
    width: 100%;
    overflow: auto;
  
    .wrapper {
      
      .items {
        padding: 30px;
        display: flex;
        float: right;
  
        .item {
  
          .userName{
            font-size: 20px;
            font-weight: bold;
            color: #000000;
          }
          .avatar {
            color:#858585;
            margin-left: 10px;
          }
        
        }
      }
    }
  }
  //sidebar css
  .sidebar {
    display:block;
    position: fixed;
    align-items: center;
    border-right: 0.5px solid #DADADA;
    height: 100%;
    width: 236px;
    background-color: #007AFF;
    padding: 5vh 3vh;
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden;
  
    .top {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .logo {
        font-size: 24px;
        font-weight: bold;
        color: #FFFFFF;
       
      }
    }
  
    .search {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 236px;
      display: flex;
      align-items: center;
      background-color: #FFFFFF;
      border-radius: 10px;
  
      input {
        border: none;
        outline: none;
        background: transparent;
  
        &::placeholder {
          color: #C3C3C3;
          font-size: 15px;
        }
      }
      .icon{
        color: #B4B4B4;
        font-size: 18px;
        margin: 10px;
      }
    }
  
    .center {
      align-items: center;
      justify-content: center;
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        .title {
          font-size: 10px;
          font-weight: bold;
          color: #999;
          margin-top: 15px;
          margin-bottom: 5px;
        }
  
        li {
          display: flex;
          align-items: center;
          padding: 10px 0px;
          cursor: pointer;
  
          &:hover {
            font-weight: bold;
          }
  
          .icon {
            font-size: 30px;
            color: #FFFFFF;
          }
  
          span{
              font-size: 18px;
              font-weight: thin;
              color: #FFFFFF;
              margin-left: 10px;
          }
        
        }
      
      }
    }
  
  
    .bottom {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        li {
          display: flex;
          align-items: center;
          padding: 10px 0px;
          cursor: pointer;
  
          &:hover {
            font-weight: bold;
          }
  
          .icon {
            font-size: 30px;
            color: #FFFFFF;
          }
  
          span{
              font-size: 18px;
              font-weight: light;
              color: #FFFFFF;
              margin-left: 10px;
          }
        
        }
      
      }
    }
  
  }
//table css

.cellWrapper{
    display: flex;
    align-items: center;
  }
  .rating{
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
  .image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .icon{
    color:#FBBC05;
    margin-right: 10px;
    width: 32px;
    height: 32px;
  }

  .datatable {
    height: 600px;
    
    .datatableTitle{
      width: 100%;
      font-size: 24px;
      color: gray;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .link{
        text-decoration: none;
        color: green;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid green;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  
    .cellWithImg {
      display: flex;
      align-items: center;
  
      .cellImg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }
    }
  
    .cellWithStatus {
      padding: 5px;
      border-radius: 5px;
      &.active {
        background-color: #EAF5FF;
        color: #1081E8;
      }
      &.pending {
        background-color:#FFEEBD;
        color: #FBBC05;
      }
      &.passive {
        background-color: rgba(255, 0, 0, 0.05);
        color: crimson;
      }
    }
  
    .cellDecision {
      display: flex;
      align-items: center;
      gap: 15px;
  
      .viewButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: #00AEB8;
        background-color:#E8F8F9;
        cursor: pointer;
      }
      
      .deleteButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: #EA4335;
        background-color:#FFCBC6;
        cursor: pointer;
      }
    }
  }
  //title css
  .title-bar{
    border-bottom: 0.5px solid #DADADA;
    width: 100%;
    overflow: auto;

    .title{
        padding: 30px 40px;
        font-size: 32px;
        font-weight: bold;
    }
}

//widget css
.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 30px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;
    background-color: #007AFF;
  
    .left,
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .title {
        font-weight: bold;
        font-size: 13px;
        color: #DEEEFF;
      }
  
      .counter {
        font-size: 20px;
        font-weight: bold;
        color: #FFFFFF;
      }
  
      .link {
        width: max-content;
        font-size: 12px;
        color:#DEEEFF;
        border-bottom: 1px solid gray;
      }
  
      .percentage {
        display: flex;
        align-items: center;
        font-size: 14px;
  
        &.positive {
          color: #7FFFD4;
        }
        &.negative {
          color: #F9896B;
        }
      }
  
      .icon {
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;
        align-self: flex-end;
      }
    }
  }
  