
.star-icon{
  color: #FBBC05;
  float:inline-start;
}
//admin
.datatable {
  height: 600px;
  padding: 0px 20px 20px 20px;
  
  .datatableTitle{
    width: 100%;
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link{
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }
    
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }
}

//chart css
.chart {
    flex: 12;
    margin-left:20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: gray;
  
    .title {
      margin-bottom: 20px;
    }
  
    .chartGrid {
      stroke: rgb(228, 225, 225);
    }
  }
  
//featured css

.featured {
    width:fit-content;
    flex: 1.9;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
  
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: gray;
  
      .title {
        font-size: 16px;
        font-weight: 500;
      }
    }
  
    .bottom {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
  
      .featuredChart {
        width: 100px;
        height: 100px;
      }
  
      .title {
        font-weight: 500;
        color: gray;
      }
  
      .amount {
        font-size: 30px;
      }
  
      .desc {
        font-weight: 300;
        font-size: 12px;
        color: gray;
        text-align: center;
      }
  
      .summary {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .item {
          text-align: center;
  
          .itemTitle {
            font-size: 14px;
            color: gray;
          }
  
          .itemResult {
            display: flex;
            align-items: center;
            margin-top: 10px;
            font-size: 14px;
  
            &.positive {
              color: green;
            }
  
            &.negative {
              color: red;
            }
          }
        }
      }
    }
  }
 
//table css

.cellWrapper{
    display: flex;
    align-items: center;
  }
  .rating{
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
  .image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .icon{
    color:#FBBC05;
    margin-right: 10px;
    width: 32px;
    height: 32px;
  }

  .datatable {
    height: 600px;
    
    .datatableTitle{
      width: 100%;
      font-size: 24px;
      color: gray;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .link{
        text-decoration: none;
        color: green;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid green;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  
    .cellWithImg {
      display: flex;
      align-items: center;
  
      .cellImg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }
    }
  
    .cellWithStatus {
      padding: 5px;
      border-radius: 5px;
      &.active {
        background-color: #EAF5FF;
        color: #1081E8;
      }
      &.pending {
        background-color:#FFEEBD;
        color: #FBBC05;
      }
      &.passive {
        background-color: rgba(255, 0, 0, 0.05);
        color: crimson;
      }
    }
  
    .cellDecision {
      display: flex;
      align-items: center;
      gap: 15px;
  
      .viewButton {
        padding: 5px 15px;
        border-radius: 10px;
        color: #1081E8;
        background-color:#EAF5FF;
        cursor: pointer;
      }
      
      .deleteButton {
        padding: 5px 10px;
        border-radius: 10px;
        color: #EA4335;
        background-color:#FFCBC6;
        cursor: pointer;
      }
    }
  }


//widget css
.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 30px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 150px;
    background-color: #007AFF;
  
    .left,
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .title {
        font-weight: bold;
        font-size: 13px;
        color: #DEEEFF;
      }
  
      .counter {
        font-size: 20px;
        font-weight: bold;
        color: #FFFFFF;
      }
  
      .link {
        width: max-content;
        font-size: 12px;
        color:#DEEEFF;
        border-bottom: 1px solid gray;
      }
  
      .percentage {
        display: flex;
        align-items: center;
        font-size: 14px;
  
        &.positive {
          color: #7FFFD4;
        }
        &.negative {
          color: #F9896B;
        }
      }
  
      .icon {
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;
        align-self: flex-end;
      }
    }

  
  }
  